<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>pl.szyorz.FitGraphs</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fitgraphs</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.502947793296-mibc1rffu0ii06m8e6g9mgqmk4t5sapk</string>
			</array>
		</dict>
	</array>
	<key>STRAVA_CLIENT_ID</key>
	<string>$(STRAVA_CLIENT_ID)</string>
	<key>STRAVA_CLIENT_SECRET</key>
	<string>$(STRAVA_CLIENT_SECRET)</string>
</dict>
</plist>
